
.main-container {
    
    margin: 0 auto;
}

.pro-container2 {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.create-post {
    margin-top: 20px;
}

.contain {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input styles */
.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* File input styles */
.input-field[type="file"] {
    padding: 10px 0;
}

/* Textarea styles */
.textarea-field {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

